*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.Vishwas
*.bin
*.fed
*._2i
*.l1p
*.l2p
*.iex
.#*
*.uvgui.*
*.uvopt
*.s.*
*.h.*
*.c.*

#VB Ignores
[Bb]in/
[Oo]bj/
!/lib
*.user
*.sln.cache
*.suo
*.xap
*.vspcc
*.vscc
*.vssscc
